*{
    margin:0%;
    padding: 0%;
    vertical-align:baseline;
    list-style:none;
    border:0
}

html, body 
{ 
 height: 100%;
 overflow: hidden
}

h1{
    text-align: center;
    background-color: rgb(105, 187, 224);
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    text-shadow: 0 0 5px rgb(85, 85, 85);
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}